/* 
  * Estilos para la página centrados en el diseño 'mobile-first'
*/

/*
  * Estilos para el tema claro
*/
:root {
  --bg-color: #F3F8FE;
  --bg-btn-decrypt-color: #878F9A;
  --bg-btn-encrypt-color: #4A79B8;
  --info-color: #1A1A1A;
  --bg-input-color: #FFF;
  --bg-btn-encrypt-copy: #FFF;

  --txt-color: #1A1A1A;
  --info-txt-color: #FF0A0A;

  --theme-icon: url("../images/dark_theme.png");
  --info-icon: url("../images/dark_info.png");
  --info-icon-large: url("../images/dark_info-large.png");
  --footer-bg-image: url("../images/texture-background.jpg");

  --shadow-btn: rgba(26, 26, 26, 0.5);
}

/*
  * Estilos para el tema oscuro
*/
.dark-theme {
  --bg-color: #333;
  --info-color: #FFF;
  --bg-input-color: #666;
  --bg-btn-encrypt-copy: #FFF;

  --txt-color: #FFF;
  --info-txt-color: #FF0A0A;

  --theme-icon: url("../images/light_theme.png");
  --info-icon: url("../images/light_info.png");
  --info-icon-large: url("../images/light_info-large.png");

  --shadow-btn: rgba(255, 255, 255, 0.5);
}

/*
  * Estilos para el resto de la página
*/
body {
  background-color: var(--bg-color);

  transition: all 1s ease;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;

  width: 100vw;

  box-sizing: border-box;

  padding: 1rem 1.07rem;
}

.header_theme-toggle {
  background-color: transparent;

  border: none;
  border-radius: 50%;

  background-image: var(--theme-icon);

  width: 2.14rem;
  height: 2.14rem;
  
  background-size: cover;
  background-repeat: no-repeat;

  cursor: pointer;

  transition: all 0.5s ease;
}

main {
  margin: 0;

  width: 100%;

  padding: 0.5rem 1rem 1rem 1rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-input {
  width: 100%;

  padding: 0.5rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 0.84rem;
}
  
.text-io {
  order: 2;

  resize: none;

  width: 100%;
  max-height: 15rem;
  
  margin: 0;
  
  padding: 1rem;

  box-sizing: border-box;

  font-size: 1rem;
  line-height: 2rem;  
  color: var(--txt-color);
  font-weight: 500;

  border-radius: 1rem;
  border: none;

  background: var(--bg-input-color);
  box-shadow: 0 0 0.8rem rgba(26, 26, 26, 0.5);

  outline-color: var(--txt-color-black);
}

.text-io::placeholder {
  color: var(--txt-color-black);
  
  font-size: 1rem;

  opacity: 0.5;
}

.text-info {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 0.31rem 0.84rem;
}

.symbol-info {
  background-image: var(--info-icon);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 41px;
  height: 20px;
}

.content-info {
  font-size: 0.8rem;
  font-weight: 500;

  text-align: center;
  
  color: var(--info-color);
}

.text-actions-buttons {
  order: 3;

  width: 100%;

  display: flex;
  justify-content: center;
  gap: 1rem;

  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
}

.button-action {
  width: 47%;
  height: 2.4rem;


  border-radius: 0.6rem;
  border: none;

  font-size: 1.1rem;

  transition: all 0.5s ease;

  background-color: var(--bg-btn-encrypt-color);

  color: var(--bg-btn-encrypt-copy);

  cursor: pointer;
}

.text-actions-buttons > button:nth-child(2) {
  background-color: var(--bg-btn-decrypt-color);

  border: 1px solid var(--bg-btn-encrypt-color);

  cursor: pointer;
}


.text-output {
  width: 100%;
  min-height: 20rem;

  padding: 0.5rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.output-area{
  background: url("../images/no_output.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  background-color: var(--bg-input-color);
}

.button-copy {
  width: 47%;
  height: 2.4rem;


  border-radius: 0.6rem;
  border: none;

  font-size: 1.1rem;

  transition: all 0.5s ease;
  
  background-color: var(--bg-btn-encrypt-color);
  color: var(--bg-btn-encrypt-copy);

  display: none;
}

.info-author {
  background-image: var(--footer-bg-image);

  width: 100%;

  max-height: 15rem;

  padding: 2rem 1rem;

  box-sizing: border-box;

  text-align: center;
}

.info-author > p {
  font-size: 1rem;
  color: var(--bg-btn-encrypt-copy);
  font-weight: 600;
  line-height: 1.8rem;

  margin: 1.4rem auto;
}

.img-media {
  width: 100%;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 1.3rem;
}

.link-media {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

/*
  * Estilos que se aplican bajo ciertas condiciones (click, salida, etc.). Utilizados en el JavaScript
*/

.focus-output {
  background: var(--bg-input-color);
  border: 2px solid var(--bg-btn-encrypt-color);
}

.button-copy-success {
  background-color: #228B22;
}

/*
  * Estilos responsivos
*/
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  
  header {  
    padding: 1.2rem 1.7rem 0 0;
  }
  
  .header_theme-toggle {  
    width: 2.14rem;
    height: 2.14rem;
  }
  
  main {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
    
  .text-io {
    padding: 0.8rem;
  
    font-size: 1.1rem;

    border-radius: 0.8rem;
  }
  
  .symbol-info {  
    width: 31px;
    height: 31px;
  }
  
  .text-actions-buttons {
    padding: 0.8rem 0.8rem;
  }
  
  .button-action {
    height: 2.7rem;
  
    border-radius: 0.5rem;
  }

  .button-copy {
    width: 43%;
    height: 2.7rem;
    border-radius: 0.5rem;
  }

  .text-output {
    min-height: 22rem;
  
    font-size: 1.1rem;

    border-radius: 0.8rem;
  }
  
  .img-media {
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 22px;
  }
  
  header {
    padding: 1rem 2.5rem 1rem 0;
  }
  
  .header_theme-toggle {
    width: 2rem;
    height: 2rem;
  }
  
  main {
    padding: 0 1.5rem 5rem 1.5rem;

    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
  }
  
  .text-input {
    width: auto;

    flex-grow: 2;
  
    gap: 1rem;
  }
    
  .text-io {
    order: 1;

    max-height: 17rem;

    padding: 0.8rem;
  
    font-size: 0.95rem;
    line-height: 1.5rem;
  
    border-radius: 0.7rem;
  }
  
  .text-io::placeholder {    
    font-size: 0.85rem;
  }
  
  .text-info {
    order: 2;
  }
  
  .symbol-info {  
    width: 36px;
    height: 36px;
  }
  
  .content-info {
    font-size: 0.85rem;
  }
  
  .text-actions-buttons {
    gap: 3.5rem;
  
    padding: 0;
  }
  
  .button-action {
    width: 40%;
 
    height: 2.65rem;
  
    border-radius: 0.45rem;

    font-size: 1.1rem;
  }

  .button-copy {
    width: 50%;
    height: 2.65rem;
    border-radius: 0.45rem;

    font-size: 1.1rem;
  }
  
  .text-actions-buttons > button:nth-child(1):hover,
  .text-actions-buttons > button:nth-child(2):hover,
  .header_theme-toggle:hover,
  .button-copy:hover {
    box-shadow: 0 0 0.55rem var(--shadow-btn);
  }
  
  .text-output {
    flex-grow: 1;

    width: auto;

    justify-content: space-between;
  }
  
  .img-media {
    gap: 1.55rem;
  }
  
  .link-media {
    max-width: 2.65rem;
    max-height: 2.65rem;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 24px;
  }
  
  main {
    padding: 0.5rem 3rem 6.5rem 3rem;
  }
    
  .text-io {
    min-height: 18.25rem;

    font-size: 1.15rem;
    line-height: 1rem;

    padding: 1rem;
  }
  
  .text-io::placeholder {
    font-size: 1rem;
  }
  
  .symbol-info {  
    width: 35px;
    height: 35px;
  }
  
  .content-info {
    font-size: 0.85rem;
  }
  
  .button-action {
    width: 38%;
 
    height: 3.05rem;
  
    font-size: 0.95rem;
  }

  .button-copy {
    width: 50%;
 
    height: 3.05rem;
  
    font-size: 1.1rem;
  }

  .info-author {  
    padding: 1.85rem 0.85rem;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 28px;
  }
  
  header {
    padding: 1.5rem 4rem 1.3rem 0;
  }
  
  .header_theme-toggle {
    width: 3.20rem;
    height: 3.20rem;
  }
  
  main {
    padding: 0.5rem 4rem 10rem 4rem;
  }
    
  .text-io {
    min-height: 30rem;
  
    font-size: 1.70rem;
    line-height: 1.5rem;

    padding: 1.5rem;
  }
  
  .text-io::placeholder {
    font-size: 1.55rem;
  }
  
  .symbol-info {  
    width: 72px;
    height: 72px;
  }
  
  .content-info {
    font-size: 1.30rem;
  }
  
  .button-action {
    width: 40%;
 
    height: 4rem;
  
    font-size: 1.55rem;
  }

  .button-copy {
    width: 50%;
 
    height: 4rem;
  
    font-size: 1.55rem;
  }

  .info-author {
    max-height: 18rem;
  
    padding: 3rem 2rem;
  }
  
  .info-author > p {
    font-size: 1.5rem;
  }
  
  .img-media {
    margin-top: 2.5rem;

    gap: 4rem;
  }
  
  .link-media {
    max-width: 3.25rem;
    max-height: 3.25rem;
  }
}