/* Hoja de estilos para la página 'index.html' */

/* Contenedor principal 'main' que contiene a el área de texto a encriptar / desencriptar
   y al contenedor de los botones de acción */
main {
  width: 100%;
  background: red;
  padding: 20px;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

/* Contenedor de área de cáptura de texto y botones de acción */
.text-input {
  background: purple;
  width: 60%;
  height: auto;
  padding: 2%;
  box-sizing: border-box;
  float: left;
}

/* Estilos para el 'textarea' */
.text-io {
  display: block;
  resize: none;
  width: 95%;
  margin: 0 auto;
  height: 400px;
  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
}

/* Contenedor de botones de acción (encriptar / desencriptar) */
.text-actions-buttons {
  width: 60%;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background: violet;
  justify-content: space-evenly;
}

/* Botones de acción */
.button-action {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0.5px 5px 5px rgba(1, 1, 1, 0.4);
}

/* Botón para encriptar */
.text-actions-buttons > button:first-child {
  background: lightblue;
}

/* Botón para desencriptar */
.text-actions-buttons > button:nth-child(2) {
  background: lightslategray;
}

/* Área de salida de texto y botones de acción */
.text-output {
  background: blue;
  width: 38%;
  height: auto;
  padding: 2%;
  float: right;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Selección de botón 'copiar' */
.text-output > button {
  background: lightcoral;
}

/* Estilos para el pie de página */
.info-author {
  clear: both;
  background: yellow;
  width: 100%;
  height: auto;
  padding: 2%;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
}

/* Estilos para el nombre */
.info-author > p {
  font-size: 12px;
  font-weight: bold;
  margin: 20px auto;
}